/* filler */
.filler{
	min-height: 60vh;
	background: url("../../images/filler.jpeg") center/cover fixed no-repeat;
}
/* contact */
.contact{
	min-height: 80vh;
	background: url("../../images/filler.jpeg") center/cover fixed no-repeat;
	display: flex;
	justify-content: center;
	align-items:center;
}

.contact-card{
	flex:0 0 80%;
	padding: 40px 0;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items:center;
}
form{
	flex:0 0 60%;
	display: flex;
	flex-direction:column;
}
form input{
	margin: 10px 0;
}
form h3{
	text-align: center;
	text-transform: uppercase;
	color: white;
}
form input,
form textarea{
	padding: 5px;
	border: 3px solid #ad343e;
}
input::placeholder,
textarea::placeholder{
	text-transform: uppercase;
	color: black;
}

.form-btn{
	margin: 20px;
	font-size: 20px;
	padding: 5px;
	border-radius: 40px;
	background: #ad343e;
	color: white;
	transition: color 1s ease-in-out, background 1s ease-in-out;
}
.form-btn:hover{
	color: #ad343e;
	background: #f5f3f5;
}
/*footer*/
footer{
background: black;
padding: 20px 0;
text-align: center;
}
.footer-icons a{
	display: inline-block;
	font-size: 30px;
	margin: 0 10px 20px 10px;
	padding: 2px 5px;
	border-radius: 5px;
	background: #f5f3f5;
	color: #0d1317;
}
footer p{
	color: #f5f3f5;
	font-size: 20px;
}